{% extends "base.html.twig" %}

{% block body %}
    <div class="container spad">
        <div class="row spad">
            <div class="col-6 border-right">
                <div class="row">
                    <div class="col-6 column">
                        <div class="border">
                            {% if product.getImages is not null %}
                            <img src="{{product.getImages[0].url}}" alt="{{product.name}}" id="imgBig">
                            {% else %}
                            <img src="https://i.skyrock.net/4256/65844256/pics/photo_65844256_1.png" alt="{{product.name}}" id="imgBig">
                            {% endif %}
                        </div>
                        <div class="row mt-5" id="listImg">
                            {% if product.getImages is not null %}
                                {% for imgSmall in product.getImages %}
                                    <div class="col-3 border">
                                        <img src="{{imgSmall.urlSmall}}" alt="{{product.name}}">
                                    </div>
                                {% endfor %}
                            {% else %}
                                <img src="https://i.skyrock.net/4256/65844256/pics/photo_65844256_1.png" alt="{{product.name}}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="column">
                            <h4 class="mb-2">{{product.name}}</h4>
                            <p class="mb-4">{{product.setCode}}</p>
                            <div class="row d-flex justify-content-around text-body">
                                <p>{{product.type}}</p>
                                {% if product.race is not null %}
                                    <p>{{product.race}}</p>
                                {% endif %}
                            </div>
                            {% if product.atk is not null %}
                                <div class="row d-flex justify-content-around text-body">
                                    <p>ATK: {{product.atk}}</p>
                                    <p>DEF: {{product.def}}</p>
                                </div>
                            {% endif %}
                            <p>{{ product.description}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 d-flex justify-content-end">
                <div class="col-10">
                <div class="container">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>Autres sets contenant cette carte</tr>
                            <tr>
                                <th>Nom du set</th>
                                <th>Code</th>
                                <th>#</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for eachSet in setList %}
                                {% if eachSet.setCode == product.setCode %}
                                    <tr class="bg-success">
                                {% else %}
                                    <tr>
                                {% endif %}
                                        <td>{{eachSet.setName}}</td>
                                        <td>{{eachSet.setCode}}</td>
                                        <td><a href="{{ path('card', {slug: product.slug, id: eachSet.id}) }}">Voir</a></td> 
                                    </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
        <div class="spad">
            <form action="{{ path('basket_add', {id: product.id}) }}" method="post">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Type de carte</th>
                            <th>Etat</th>
                            <th>Disponibilité</th>
                            <th>Prix Unitaire</th>
                            <th>Quantité</th>
                            <th>Prix total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for stock in product.stocksList %}
                            <tr>
                                <td rowspan="5">{{stock.stockType}}</td>
                            </tr>
                            <tr>
                                <td>Neuve</td>
                                {% if stock.new > 2 %}
                                    <td class="text-success">En stock</td>
                                {% elseif stock.new > 0 %}
                                    <td class="text-warning">Stock faible</td>
                                {% else %}
                                    <td class="text-danger">Indisponible</td>
                                {% endif %}
                                <td class="price">{{product.price|number_format(2,'.',',')}}</td>
                                <td>
                                    <select name="{{"new" ~ stock.stockType | capitalize}}" class="quantity">
                                        {% for qty in 0 .. stock.new %}
                                            <option value="{{qty}}">{{qty}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><span class="totalCarte">0.00</span> €</td>
                            </tr>
                            <tr>
                                <td>Bonne</td>
                                {% if stock.correct > 2 %}
                                    <td class="text-success">En stock</td>
                                {% elseif stock.correct > 0 %}
                                    <td class="text-warning">Stock faible</td>
                                {% else %}
                                    <td class="text-danger">Indisponible</td>
                                {% endif %}
                                <td class="price">{{(product.price * 0.9)|number_format(2,'.',',')}}</td>
                                <td>
                                    <select name="{{ "correct" ~ stock.stockType | capitalize}}" class="quantity">
                                        {% for qty in 0 .. stock.correct %}
                                            <option value="{{qty}}">{{qty}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><span class="totalCarte">0.00</span> €</td>
                            </tr>
                            <tr>
                                <td>Correcte</td>
                                {% if stock.occasion > 2 %}
                                    <td class="text-success">En stock</td>
                                {% elseif stock.occasion > 0 %}
                                    <td class="text-warning">Stock faible</td>
                                {% else %}
                                    <td class="text-danger">Indisponible</td>
                                {% endif %}
                                <td class="price">{{(product.price * 0.8)|number_format(2,'.',',')}}</td>
                                <td>
                                    <select name="{{ "occasion" ~ stock.stockType | capitalize}}" class="quantity">
                                        {% for qty in 0 .. stock.occasion %}
                                            <option value="{{qty}}">{{qty}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><span class="totalCarte">0.00</span> €</td>
                            </tr>
                            <tr>
                                <td>Occasion</td>
                                {% if stock.abimee > 2 %}
                                    <td class="text-success">En stock</td>
                                {% elseif stock.abimee > 0 %}
                                    <td class="text-warning">Stock faible</td>
                                {% else %}
                                    <td class="text-danger">Indisponible</td>
                                {% endif %}
                                <td class="price">{{(product.price * 0.6)|number_format(2,'.',',')}}</td>
                                <td>
                                    <select name="{{ "abimee" ~ stock.stockType | capitalize}}" class="quantity">
                                        {% for qty in 0 .. stock.abimee %}
                                            <option value="{{qty}}">{{qty}}</option>
                                        {% endfor %}
                                    </select>
                                </td>
                                <td><span class="totalCarte">0.00</span> €</td>
                            </tr>
                        {% endfor %} 
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="text-right" colspan="4">Total HT: </td>
                            <td><span id="totalHT">0.00 €</span></td>
                        </tr>
                        <tr>
                                <td class="text-right" colspan="4">TVA (0.00 %): </td>
                                <td><span id="TVA">0.00 €</span></td>
                        </tr>
                        <tr>
                                <td class="text-right" colspan="4">Total TTC: </td>
                                <td><span id="totalTTCCarte">0.00 €</span></td>
                        </tr>
                    </tfoot>
                </table>
                <button class="btn btn-primary">Ajouter au panier</button>
            </form>
        </div>
    </div>  
{% endblock %}