{% extends 'base.html.twig' %}

{% block body %}
    <section class="category-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 order-2 order-lg-1">
					<div class="filter-widget">
						<h2 class="fw-title">SET CODE</h2>
						<ul class="category-menu">
							<li><a href="#">Liste des set</a>
								<ul class="sub-menu" style="max-height:15rem;overflow:scroll;">
                                    {% for setCode in setCodes %}
                                        <li><a class="code"> {{setCode.set}} <span>({{setCode.totalCard}})</span></a></li>
                                    {% endfor %}
								</ul>
							</li>
						</ul>
					</div>
					{# <div class="filter-widget mb-0">
						<h2 class="fw-title">refine by</h2>
						<div class="price-range-wrap">
							<h4>Price</h4>
                            <div class="price-range ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content" data-min="10" data-max="270">
								<div class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0%; width: 100%;"></div>
								<span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 0%;">
								</span>
								<span tabindex="0" class="ui-slider-handle ui-corner-all ui-state-default" style="left: 100%;">
								</span>
							</div>
							<div class="range-slider">
                                <div class="price-input">
                                    <input type="text" id="minamount">
                                    <input type="text" id="maxamount">
                                </div>
                            </div>
                        </div>
					</div> #}
					<div class="filter-widget mb-0">
						<h2 class="fw-title">Etat</h2>
						<div class="etat">
							<div>
								<input type="checkbox" name="etat" data-etat="new" id="neuf">
								<label for="neuf">Neuves
									<span>({{count.0.new}})</span>
								</label>
							</div>
							<div>
								<input type="checkbox" name="etat" data-etat="correct" id="correct">
								<label for="correct">Bonnes
									<span>({{count.1.correct}})</span>
								</label>
							</div>
							<div>
								<input type="checkbox" name="etat" data-etat="occasion" id="occasion">
								<label for="occasion">Correctes
									<span>({{count.2.occasion}})</span>
								</label>
							</div>
							<div>
								<input type="checkbox" name="etat" data-etat="abimee" id="abimee">
								<label for="abimee">Occasions
									<span>({{count.3.abimee}})</span>
								</label>
							</div>
							
						</div>
					</div>
					<div class="filter-widget mb-0">
						<h2 class="fw-title">Type</h2>
						<div class="etat">
							{% for stockType in listStockType %}
								<div>
								{% if stockType.stockType == "Française" %}
									<input type="checkbox" name="type" data-type="Francaise" id="{{ stockType.stockType}}">
									<label for="{{ stockType.stockType}}">{{ stockType.stockType}}</label>
								{% else %}
									<input type="checkbox" name="type" data-type="{{ stockType.stockType}}" id="{{ stockType.stockType}}">
									<label for="{{ stockType.stockType}}">{{ stockType.stockType}}</label>
								{% endif %}
								</div>
							{% endfor %}							
						</div>
					</div>
				</div>
				<div class="col-lg-9  order-1 order-lg-2 mb-5 mb-lg-0">
					{% if products is empty %}
					<h4>Votre recherche est trop sélective. Aucune carte ne correspond.</h4>
					<p>Essayez avec une recherche plus large.</p>
					{% endif %}
					<div class="row">
						{% for product in products %}
							<div class="col-lg-4 col-sm-6">
								<div class="product-item">
									<div class="pi-pic">
										{% if product.getImages is not null %}
												<img src="{{product.getImages[0].url}}" alt="{{product.name}}">
										{% else %} 
											<img src="https://i.skyrock.net/4256/65844256/pics/photo_65844256_1.png" alt="{{product.name}}">
										{% endif %} 
										<div class="pi-links">
											<a href="{{ path('card', {slug: product.slug, id: product.id}) }}" class="add-card"><i class="flaticon-bag"></i><span>AJOUTER AU PANIER</span></a>
											<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
										</div>
									</div>
									<div class="pi-text">
										<h6>{{product.price | number_format(2, '.', ',')}} €</h6>
										<p>{{product.name}}</p>
									</div>
								</div>
							</div>
						{% endfor %}
						<div class="text-center w-100 pt-3">
							{{ knp_pagination_render(products) }}
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}