{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="page-top-info">
		<div class="container">
			<p class="h4">Panier</p>
		</div>
	</div>
<section class="cart-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="cart-table">
						<h3>Votre panier</h3>
						<div class="cart-table-warp">
							<table>
							<thead>
								<tr>
                                    <th class="product-th" scope="col">#</th>
									<th class="product-th" scope="col">Carte</th>
                                    <th class="quy-th" scope="col">Etat</th>
									<th class="quy-th" scope="col">Prix unitaire</th>
                                    <th class="quy-th" scope="col">Quantité</th>
                                    <th class="quy-th" scope="col">Prix total</th>
								</tr>
							</thead>
							<tbody>
                                {% for product in panier %}
                                    <tr>
                                        <td class="quy-col font-weight-bold" rowspan="6"><a href="{{ path('basket_remove', {id : product.id, type : product.type}) }}"><i class="flaticon-cancel text-danger"></i></a></td>
                                    </tr>
                                    <tr>
                                        <td class="product-col" rowspan="5">
                                            {% if product.imgSmall is not null %}
                                                <img src="{{product.imgSmall}}" alt="{{product.name}}">
                                            {% else %}
                                                <img src="https://i.skyrock.net/4256/65844256/pics/photo_65844256_1.png" alt="{{product.name}}">
                                            {% endif %}
                                            <div class="pc-title">
                                                <h4>{{product.name}}</h4>
                                                <p>{{product.price}}</p>
                                                <p>{{product.type}}</p>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="size-col"><h4>Neuve</h4></td>
                                        <td class="total-col">{{ product.price|number_format(2, '.', ',') }}</td>
                                        <td class="quy-col">
                                            <div class="quantity">
                                                    <p>{{ product.new }}</p>
                                            </div>
                                        </td>
                                {% if product.new > 0 %}
                                        <td class="total-col"><h4>{{product.totalNew|number_format(2, '.', ',')}}</h4></td>
                                {% endif %}
                                    </tr>
                                    <tr>
                                        <td class="size-col"><h4>Correcte</h4></td>
                                        <td class="total-col">{{ (product.price * 0.9)|number_format(2, '.', ',')}}</td>
                                        <td class="quy-col">
                                            <div class="quantity">
                                                    <p>{{ product.correct }}</p>
                                            </div>
                                        </td>
                                {% if product.correct > 0 %}
                                        <td class="total-col"><h4>{{product.totalCorrect|number_format(2, '.', ',')}}</h4></td>
                                {% endif %}
                                    </tr>
                                    <tr>
                                        <td class="size-col"><h4>Occasion</h4></td>
                                        <td class="total-col">{{ (product.price * 0.8)|number_format(2, '.', ',') }}</td>
                                        <td class="quy-col">
                                            <div class="quantity">
                                                    <p>{{ product.occasion }}</p>
                                            </div>
                                        </td>
                                {% if product.occasion > 0 %}
                                        <td class="total-col"><h4>{{product.totalOccasion|number_format(2, '.', ',')}}</h4></td>
                                {% endif %}
                                    </tr>
                                    <tr>
                                        <td class="size-col"><h4>Abimée</h4></td>
                                        <td class="total-col">{{ (product.price * 0.6)|number_format(2, '.', ',') }}</td>
                                        <td class="quy-col">
                                            <div class="quantity">
                                                    <p>{{ product.occasion }}</p>
                                            </div>
                                        </td>
                                {% if product.abimee > 0 %}
                                        <td class="total-col"><h4>{{product.totalAbimee|number_format(2, '.', ',')}}</h4></td>
                                {% endif %}
                                    </tr>
                                {% endfor %}
								
							</tbody>
						</table>
						</div>
						<div class="total-cost">
							<h6>Total <span id="totalPanier">{{ total|number_format(2, '.', ',') }} €</span></h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 card-right">
					{# <form class="promo-code-form">
						<input type="text" placeholder="Entrez un code promo">
						<button>Submit</button>
					</form> #}
					<a href="{{ path('validation')}}" class="site-btn btn-primary">Commander</a>
					<a href="{{ path('shop') }}" class="site-btn sb-dark">Continuer mes achats</a>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
