{% extends "base.html.twig" %}

{% block body %}
    <div class="page-top-info">
        <div class="container">
        <p class="h4 text-center">Validation et paiement</p>
        </div>
    </div>
    <div class="container mt-5">
        {% if app.user %}
            <h3>Récapitulatif de vos coordonnées</h3>

            <div class="row mt-5">
                <dl class="row col-6">
                    <dt class="col-sm-3">Nom</dt>
                    <dd class="col-sm-9">{{ app.user.nom }}</dd>

                    <dt class="col-sm-3">Prénom</dt>
                    <dd class="col-sm-9">{{ app.user.prenom }}</dd>

                    <dt class="col-sm-3">Téléphone</dt>
                    <dd class="col-sm-9">{{ app.user.telephone }}</dd>

                    <dt class="col-sm-3">Mail</dt>
                    <dd class="col-sm-9">{{ app.user.email }}</dd>
                </dl>
                <dl class="row col-6">
                    <dt class="col-sm-3">Adresse</dt>
                    <dd class="col-sm-9">{{ app.user.adresse }}</dd>

                    <dt class="col-sm-3">Ville</dt>
                    <dd class="col-sm-9">{{ app.user.ville }}</dd>

                    <dt class="col-sm-3">Code Postal</dt>
                    <dd class="col-sm-9">{{ app.user.codePostal }}</dd>
                </dl>
            </div>
        
        {% else %}
            <div class="row justify-content-around">
                <div class="">
                    <h4>Vous avez un compte ?</h4>
                    <a class="spad" href="{{ path('login') }}"><button class="btn btn-primary">Connectez-vous</button></a>
                </div>
                <div class="">
                    <h4>Vous n'êtes pas encore inscrit ?</h4>
                    <a href="{{ path('signup') }}"><button class="btn btn-primary">Inscription</button></a>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="spad">
        <div class="">
        <div class="row justify-content-around">
            <div class="mx-auto col-6">
                <h3>Livraison</h3>
                
                <div class="mt-5">
                    <div class="form-group">
                        <input type="radio" name="livraison" value="mp77">
                        <label>Remise en main propre à Val d'Europe (77)</label>
                    </div>
                    <div class="form-group">
                        <input type="radio" name="livraison" value="mp75">
                        <label>Remise en main propre à Paris (75)</label>
                    </div>
                    <div class="form-group">
                        <input type="radio" name="livraison"  value="livraison">
                        <label>Se faire livrer</label>
                    </div>
                    <div class="form-group">
                        <label for="typeLivraison">Choisissez votre type de livraison</label>
                        <select name="typeLivraison">
                            {% if product.poids <= 20 %}
                                <option value="0.97">Lettre simple: 0.97€</option>
                                <option value="suivi"></option>
                                <option value="recommandé"></option>
                            {% elseif product.poids <= 50 %}
                            {% elseif product.poids <= 100 %}
                            {% elseif product.poids <= 250 %}
                            {% elseif product.poids <= 500 %}
                            {% elseif product.poids <= 1000 %}
                            {% elseif product.poids <= 2000 %}
                            {% elseif product.poids <= 3000 %}
                            {% endif %}
                            
                        </select>
                    </div>

                </div>
                <p>Si se faire livrer, vérifier adresse avec input et proposer type de livraison simple, suivi, recommander. Modifier prix dans récapitulatif de droite en fonction du choix</p>
            </div>
            <div class="col-3 mr-3">
            <div class="jumbotron">
                <div class="container">
                    <p>Récapitulatif</p>
                    <div class="container">
                    <button class="btn btn-primary rounded">Payer</button>
                </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    </div>
{% endblock %}