{% extends "base.html.twig" %}

{% block body %}
    <div class="page-top-info">
        <div class="container">
        <p class="h4 text-center">Validation et commande</p>
        </div>
    </div>
    {% if app.user %}
        <div class="container mt-5">
            <h3>Récapitulatif de vos coordonnées</h3>

            <div class="row mt-5">
                <dl class="row col-6">
                    <dt class="col-sm-3">Nom</dt>
                    <dd class="col-sm-9" id="nomUser">{{ app.user.nom }}</dd>

                    <dt class="col-sm-3">Prénom</dt>
                    <dd class="col-sm-9" id="prenomUser">{{ app.user.prenom }}</dd>

                    <dt class="col-sm-3">Téléphone</dt>
                    <dd class="col-sm-9" id="telephoneUser">{{ app.user.telephone }}</dd>

                    <dt class="col-sm-3">Mail</dt>
                    <dd class="col-sm-9" id="emailUser">{{ app.user.email }}</dd>
                </dl>
                <dl class="row col-6">
                    <dt class="col-sm-3">Adresse</dt>
                    <dd class="col-sm-9" id="adresseUser">{{ app.user.adresse }}</dd>

                    <dt class="col-sm-3">Ville</dt>
                    <dd class="col-sm-9" id="villeUser">{{ app.user.ville }}</dd>

                    <dt class="col-sm-3">Code Postal</dt>
                    <dd class="col-sm-9" id="codePostalUser">{{ app.user.codePostal }}</dd>
                </dl>
                <dl><a href="#" id="modifierUser">Modifier...</a></dl>
            </div>
        </div>
        <div class="spad">
            <div class="row justify-content-around">
                <div class="mx-auto col-4">
                    <h3>Livraison</h3>
                    
                    <div class="mt-5">
                        <div class="form-group">
                            <input type="radio" name="livraison" value="mp77">
                            <label>Remise en main propre à Val d'Europe (77)</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="livraison" value="mp75">
                            <label>Remise en main propre à Paris (75)</label>
                        </div>
                        <div class="form-group">
                            <input type="radio" name="livraison"  id="livraison" value="livraison">
                            <label>Se faire livrer</label>
                        </div>
                        <div class="form-group d-none" id="tarifLivraison"> 
                            <label for="typeLivraison">Choisissez votre type de livraison</label>
                            <select name="typeLivraison" id="selectTarif">
                                {% if poids <= 20 %}
                                    <option value="simple/1.00">Lettre simple: 1.00€</option>
                                    <option value="suivie/1.45">Lettre suivie: 1.45€</option>
                                    <option value="recommandee/5.50">Lettre recommandée: 5.50€</option>
                                {% elseif poids <= 50 %}
                                    <option value="simple/2.00">Lettre simple: 2.00€</option>
                                    <option value="suivie/2.45">Lettre suivie: 2.45€</option>
                                    <option value="recommandee/6.05">Lettre recommandée: 6.05€</option>
                                {% elseif poids <= 100 %}
                                    <option value="simple/2.00">Lettre simple: 2.00€</option>
                                    <option value="suivie/2.45">Lettre suivie: 2.45€</option>
                                    <option value="recommandee/6.70">Lettre recommandée: 6.70€</option>
                                {% elseif poids <= 250 %}
                                    <option value="simple/3.95">Lettre simple: 3.95€</option>
                                    <option value="suivie/4.40">Lettre suivie: 4.40€</option>
                                    <option value="recommandee/7.90">Lettre recommandée: 7.90€</option>
                                {% elseif poids <= 500 %}
                                    <option value="simple/5.90">Lettre simple: 5.90€</option>
                                    <option value="suivie/6.35">Lettre suivie: 6.35€</option>
                                    <option value="recommandee/9.05">Lettre recommandée: 9.05€</option>
                                {% elseif poids <= 1000 %}
                                    <option value="simple/7.80">Lettre simple: 7.80€</option>
                                    <option value="suivie/8.25">Lettre suivie: 8.25€</option>
                                    <option value="recommandee/10.20">Lettre recommandée: 10.20€</option>
                                {% elseif poids <= 2000 %}
                                    <option value="simple/7.80">Lettre simple: 7.80€</option>
                                    <option value="suivie/8.25">Lettre suivie: 8.25€</option>
                                    <option value="recommandee/11.90">Lettre recommandée: 11.90€</option>
                                {% else %}
                                    <option value="simple/7.80">Lettre simple: 7.80€</option>
                                    <option value="suivie/8.30">Lettre suivie: 8.30€</option>
                                    <option value="recommandee/13.15">Lettre recommandée: 13.15€</option>
                                {% endif %}
                            </select>
                            <p>Attention, votre commande sera envoyée une fois le règlement encaissé.</p>
                        </div>
                    </div>
                </div>  
                <div class="col-7 mr-3">
                    <div class="jumbotron">
                        <div class="row justify-content-between">

                            <div class="col-5">
                                <h4 class="mb-3 text-center"><ins>Récapitulatif</ins></h4>
                                <dl class="row">
                                    <dt class="col-sm-6">Panier:</dt>
                                    <dd class="col-sm-6" id="recapPanier">{{ total|number_format(2, '.', ',') }} €</dd>
                                    <dt class="col-sm-6">Livraison:</dt>
                                    <dd class="col-sm-6"><span id="recapLivraison">0.00</span> €</dd>
                                    <dt class="col-sm-6">Total:</dt>
                                    <dd class="col-sm-6"><span id="totalFinal">{{ total|number_format(2, '.', ',') }}</span> €</dd>
                                </dl>
                            </div>
                            <div class="col-5">
                                <div class="text-center">
                                    <h4 class="mb-3 tet-center"><ins>Moyen de paiement</ins></h4>
                                    <select name="typePaiement" id="typePaiement" class="mt-3">
                                        <option value="Especes">Espèces</option>
                                        <option value="Cheque">Chèque</option>
                                        <option value="Paypal">Paypal</option>
                                    </select>
                                    <p class="d-none" id="lienPaypal">Règlez votre commande directement sur <a href="https://paypal.me/alexgaill?locale.x=fr_FR" target="_blank">Paypal</a> en précisant le montant dû.</p>
                                </div>
                                <div class="container text-center mt-3">
                                    <button class="btn btn-primary rounded" id="commander">Commander</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="container spad">
            <div class="row justify-content-around">
                <div class="">
                    <h4>Vous avez un compte ?</h4>
                    <a class="spad" href="{{ path('login') }}"><button class="btn btn-primary">Connectez-vous</button></a>
                </div>
                <div class="">
                    <h4>Vous n'êtes pas encore inscrit ?</h4>
                    <a href="{{ path('signup') }}"><button class="btn btn-primary">Inscription</button></a>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}